<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {{ meta }}
    <title>{{ title }}</title>
    {{ jshead }}
    {{ csshead }}
</head>
<body>
{% block body %}Base Body{% endblock %}
{{ jsbody }}
</body>
</html>